@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rollOut {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

@keyframes rollIn {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.word-roll {
  display: inline-block;
  position: relative;
  animation: rollIn 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  transform-origin: 50% 50%;
  font-weight: 700;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.word-roll.exit {
  animation: rollOut 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}